<nav class="row navegador justify-content-center">
      <a class= "boton-nav col-4" href="./productos" Target="_blank"><i class="fas fa-store"></i> Productos</a>
      <a class= "boton-nav col-4" href="./editproductos" Target="_blank"><i class="far fa-smile-beam"></i> Editar Productos</a>
    </nav>